* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --color-background-header: #232d34;
  --color-text: #f9e8e9;
  --second-color: #f11f17;
}

body {
  color: var(--color-text);
  /* background-color: red; */
}

header {
  background-color: #000;
  padding: 1.3rem 0;
}

header nav li {
  display: inline;
}

header nav li a {
  color: var(--color-text);
  text-decoration: none;
  margin-left: 1rem;
  font-size: 20px;
  font-weight: 700;
}

header img {
  height: 4rem;
}

header .container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#home {
  background-image: url(img/background.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
}

section .container {
  width: 78%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: center;
}

section .container div {
  width: 600px;
}

section .container img {
  width: 580px;
}

section .container p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

section .container button {
  margin-top: 3rem;
  padding: 1.5rem 5rem;
  background-color: black;
  color: var(--color-text);
  border: 1px solid var(--color-text);
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  border-spacing: 10px;
  cursor: pointer;
}

#creed {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

#creed > img {
  height: 500px;
}

#creed > img:last-child {
  opacity: 0.2;
}

.creed-content {
  width: 800px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.creed-content img:first-child {
  width: 600px;
  /* opacity: 0.5; */
}

.creed-content h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 4rem;
}

.creed-content p {
  font-size: 1.5rem;
}

#characters {
  background-image: url(img/second_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#characters .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#characters .container .characters-img {
  display: flex;
  gap: 2.5rem;
}

#characters .container .characters-img img {
  width: 250px;
}

#characters .container > img {
  width: 600px;
}
